* {font-family: 'Roboto', sans-serif; 
}
    
    
    body {
    background-color: whitesmoke;
}

/*Hier kommt der H1 style, es ist ROBOTO BOLD 700 mit 20px*/
h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 700;
    font-weight: bold;
}

.leftItem {
    border-width: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;

}

.rightItem {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

/* Diese Farbe ist nicht von dem Mock Up, please double check with lu!*/
.bluetext {
    color:  #1c5d96;
}