* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffff; /* default background */
}

figcaption {
    color: #5566dd; /* default text color */
    font-weight: bold;
    font-size: 700;
}

large {
    color: #2ac4e2; /* default text color */
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 0%;
}



/*Hier kommt der H1 style, es ist ROBOTO BOLD 700 mit 20px
h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 700;
    font-weight: bold;
}*/



.navbar {
	margin:60 !important;
	padding: 60px !important;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    align-items: center;
    

}

.container {
    text-align: left;

}

.homeText {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: right;
    color: #5566dd;
}

/*.siteTitle {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000000;  default text color 
}*/

.leftItem {
    padding: 20px;

    /*  
   border-width: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
*/
}

.rightItem {
    padding: 20px;

    /* 
   margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    */
}

/* Diese Farbe ist nicht von dem Mock Up, please double check with lu!*/
.bluetext {
    color: #1c5d96;
}
