* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffff; /* default background */
}

figcaption {
    color: #00b554; /* default text color */
    font-weight: normal;
    font-size: 700;
}


large {
    color: #2ac4e2; /* default text color */
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 0%;
}



.navbar {
	margin:60 !important;
	padding: 60px !important;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    align-items: center;
}

.container {
    text-align: left;

}

.leftItem {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-weight: lighter;
    color: #5566dd;
}

.rightItem {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-weight: lighter;
    color: #5566dd;
}

/* Diese Farbe ist nicht von dem Mock Up, please double check with lu!*/
.bluetext {
    color: #1c5d96;
}

.copyright {
    font-weight: normal;
}
